openapi: 3.2.0
info:
  title: Vanta Integrations API
  description: The Vanta REST API enables organizations to programmatically manage their security compliance posture. The API supports personnel management, vulnerability monitoring, resource scoping, document and test management, control oversight, vendor management, and custom integrations. Vanta helps automate compliance for SOC 2, ISO 27001, HIPAA, PCI DSS, and GDPR frameworks.
  version: v1
  contact:
    name: Vanta Developer Hub
    url: https://developer.vanta.com
  termsOfService: https://www.vanta.com/terms
  license:
    name: Proprietary
    url: https://www.vanta.com/terms
servers:
- url: https://api.vanta.com
  description: Vanta API
security:
- OAuth2: []
tags:
- name: Integrations
  description: Integration configuration and status management
paths:
  /v1/integrations:
    get:
      operationId: listIntegrations
      summary: List Integrations
      description: List all configured integrations and their connection status.
      tags:
      - Integrations
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageCursor'
      responses:
        '200':
          description: Paginated list of integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/resources/custom:
    post:
      operationId: createCustomResource
      summary: Create Custom Resource
      description: Push custom resource data from non-integrated systems using custom resource schemas to extend Vanta's compliance monitoring.
      tags:
      - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomResourceRequest'
      responses:
        '201':
          description: Custom resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    IntegrationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error description
        details:
          type: array
          items:
            type: string
          description: Additional error details
    PageInfo:
      type: object
      properties:
        pageSize:
          type: integer
          description: Number of items returned
        nextPageCursor:
          type: string
          nullable: true
          description: Cursor for the next page of results
        hasNextPage:
          type: boolean
          description: Whether there are more items after this page
    CustomResource:
      type: object
      properties:
        id:
          type: string
          description: Vanta-generated resource identifier
        resourceType:
          type: string
          description: Custom resource type
        resourceId:
          type: string
          description: External resource identifier
        displayName:
          type: string
          nullable: true
          description: Human-readable resource name
        data:
          type: object
          additionalProperties: true
          description: Resource data fields
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
    Integration:
      type: object
      properties:
        id:
          type: string
          description: Unique integration identifier
        name:
          type: string
          description: Integration name
        type:
          type: string
          description: Integration type (GitHub, AWS, GCP, Jira, etc.)
        status:
          type: string
          enum:
          - CONNECTED
          - DISCONNECTED
          - ERROR
          description: Current connection status
        lastSyncAt:
          type: string
          format: date-time
          nullable: true
          description: Last successful sync timestamp
    CreateCustomResourceRequest:
      type: object
      required:
      - resourceType
      - resourceId
      - data
      properties:
        resourceType:
          type: string
          description: Custom resource type identifier
        resourceId:
          type: string
          description: Unique identifier for this resource instance
        data:
          type: object
          additionalProperties: true
          description: Resource-type-specific data fields
        displayName:
          type: string
          description: Human-readable name for the resource
  parameters:
    pageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      description: Number of items to return per page (1-100)
    pageCursor:
      name: pageCursor
      in: query
      schema:
        type: string
      description: Cursor for pagination — start from the item following this cursor
  responses:
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request — invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized — missing or invalid access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.vanta.com/oauth/token
          scopes:
            vanta.read: Read access to Vanta data
            vanta.write: Write access to Vanta data
            connectors.self:read-resource: Read connector resources
            connectors.self:write-resource: Write connector resources
            auditor-api.audit:read: Read audit data
            auditor-api.auditor:read: Read auditor data
